# Logging
RUST_LOG=info

# Control-plane
HTTP_PORT=8080

# Edge-node
GRPC_PORT=50051
NODE_ID=node-1
CONTROL_PLANE_URL=http://localhost:8080
MAX_TASKS=10
SCHEDULING_STRATEGY=round_robin  # round_robin | least_loaded
